* {
  box-sizing: border-box;
  color: black;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: #f4efe9;
}

/* FULL SCREEN HORIZONTAL */
.slider-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

/* Each section = full screen */
.section {
  min-width: 100vw;
  height: 100vh;
  padding: 3vh 4vw;

  display: grid;
  gap: 2vh;
}

/* CATEGORY */
.category {
  background: white;
  border-radius: 20px;
  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.category h2 {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2.5rem);
  margin-bottom: 1vh;
}

/* ITEMS GRID */
.items {
  flex: 1;
  display: grid;
  gap: 1vh;
}

/* ITEM */
.item {
  background: #f8f8f8;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.info {
  text-align: center;
  padding: 0.5vh;
}

.info h4 {
  margin: 0;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.info p {
  margin-top: 0.3vh;
  font-weight: 600;
  font-size: clamp(0.7rem, 0.9vw, 1rem);
}
